absl-py
astor
bleach
cymem
cytoolz
decorator
dill
future
gast
grpcio
html5lib
hyperengine
hyperopt
Markdown
msgpack-numpy
msgpack-python
murmurhash
networkx
nltk
nose
numpy
Owlready2
pandas
pathlib
plac
preshed
protobuf
pymongo
pyreadline
python-dateutil
pytz
regex
scikit-learn
scipy
sentic
six
spacy
tensorboard==2.10
tensorflow==2.10
tensorflow-gpu==2.10
termcolor
thinc
toolz
tqdm
ujson
Werkzeug
wrapt